.App {
  text-align: center;
  background-color: #0d51da;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #0d51da;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  
font-family: Inconsolata, monospace;
color: #F1F1F1;
text-align: center;
height: 100vh;
}
/* .img-container {
display: flex;
justify-content: center;
align-items: center;
} */

.PostCards{


  transition: transform 0.5s ease-in,
}


/* .PostCards:hover {
    
transform: translateY(-100px);
}  */
